#footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;

    background-color: #191825;
    color: #fff;

}
#foo-p1-a{
    text-decoration: none;
    color: #865DFF;
}
#foo-ul{
    list-style-type: none;
    display: flex;
}
#foo-li{
    margin: 10px;
    text-decoration: none;
    color: #865DFF;
}